# =========================
# macOS
# =========================
.DS_Store

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Build files (C++)
# =========================
*.o
*.out
*.exe
*.app
program

# =========================
# Debug / temp
# =========================
*.log
*.tmp

# =========================
# Other
# =========================
*.swp